# Build output
build/
passwdmngrd
client

# Object files
*.o
*.lo
*.la
*.al

# Executables
a.out
*.exe

# Debug files
*.gdb
*.log
.gdb_history
vgcore*

# Editor/IDE files
*.swp
*.swo
*.kate-swp
*.vscode/
*.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Old/temp/backup files
*.old
*.tmp
*.bck

ca.crt