[Unit]
Description=Password Manager Server (testing)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/valgrind --leak-check=full --track-origins=yes /usr/local/bin/passwdmngrd
Restart=on-failure
User=root
WorkingDirectory=/usr/local/bin
StateDirectory=passwdmngrd

[Install]
WantedBy=multi-user.target
